<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" th:rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" th:rel="stylesheet"/>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="trash-and-edit-buttons">
    <form>
        <td>
            <button class="btn btn-light" type="submit"><i class="fas fa-edit"></i></button>
        </td>
    </form>
    <form>
        <td>
            <button class="btn btn-light" type="submit"><i class="fas fa-trash-alt"></i></i></button>
        </td>
    </form>
</div>
</body>
</html>
