<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" th:rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" th:rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>FoxmindedUniversity</title>
</head>
<body>
<div th:replace="commons/navbar :: navbar"></div>
<div>
    <form class="w-25 mx-auto mt-5" method="post" th:action="@{/audiences/add}" th:object="${audience}">
        <div class="form-row">
            <div class="col">
                <input class="form-control" placeholder="Number" th:field="*{number}" type="text" required/>
            </div>
            <div class="col">
                <input class="form-control" placeholder="Capacity" th:field="*{capacity}" type="text" required/>
            </div>
            <button class="btn btn-light ml-1 " type="submit">Add audience</button>
        </div>
    </form>
</div>
<div>
    <table class="table table-bordered w-25 text-center mx-auto mt-5">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Number</th>
            <th scope="col">Capacity</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="audience, iter: ${audiences}">
            <td th:text="${audience.id}"></td>
            <td th:text="${audience.number}"></td>
            <td th:text="${audience.capacity}"></td>
            <td>
                <button class="btn btn-light" data-target="#editModal" data-toggle="modal"
                        th:attrappend="data-target=${audience}"
                        type="button">
                    <i class="fas fa-edit"></i>
                </button>
            </td>
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="editModal" role="dialog"
                 tabindex="-1"
                 th:attrappend="id=${audience}">
                <div class="modal-dialog" role="document">
                    <form method="post" th:action="@{/audiences/update/{id}(id=${audience.id})}"
                          th:object="${audience}">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit audience</h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <div class="form-row">
                                        <div class="col">
                                            <input class="form-control" placeholder="Number" th:value="${audience.number}" id="editNumber"
                                                   name="number" type="text" required/>
                                        </div>
                                        <div class="col">
                                            <input class="form-control" placeholder="Capacity" th:value="${audience.capacity}"id="editCapacity"
                                                   name="capacity" type="text" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                <button class="btn btn-light ml-1" type="submit">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div th:insert="commons/trash-button :: trash-button(deletePath = '/audiences/delete/',
                id = ${audience.id}, question = 'Are you sure you want to delete a audience?')"></div>
            </div>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>
