<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" th:rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <meta charset="UTF-8">
    <title>FoxmindedUniversity</title>
</head>
<body>
<div th:replace="commons/navbar :: navbar"></div>
<div class="text-center mt-2">Group</div>
<div>
    <table class="table table-bordered w-25 text-center mx-auto mt-2">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${group.id}"></td>
            <td th:text="${group.name}"></td>
            <div th:insert="commons/trash-and-edit-buttons :: trash-and-edit-buttons(deletePath = '/groups/delete/',
            id = ${group.id}, question = 'Are you sure you want to delete a group?')"></div>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${not #lists.isEmpty(lectures)}">
    <div class="text-center mb-2">Lectures</div>
    <table class="table table-bordered w-25 text-center mx-auto mt-2">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Number</th>
            <th scope="col">Audience</th>
            <th scope="col">Date</th>
            <th scope="col">Start time</th>
            <th scope="col">Duration</th>
            <th scope="col">Subject</th>
            <th scope="col">Teacher</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lecture, iter: ${lectures}">
            <td th:text="${lecture.id}"></td>
            <td th:text="${lecture.number}"></td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/audiences/'} + ${audiences.get(iter.index).getId()}"
                   th:if="${audiences.get(iter.index) !=null}"
                   th:text="${audienceNumbers.get(iter.index)}">
                </a>
                <div th:unless="${audienceNumbers.get(iter.index) != null}">Deleted or not added yet</div>
            </td>
            <td th:text="${lecture.date}"></td>
            <td>
                <div th:if="${startTimes.get(iter.index) !=null}" th:text="${startTimes.get(iter.index)}"></div>
                <div th:unless="${startTimes.get(iter.index) != null}">Deleted or not added yet</div>
            </td>
            <td>
                <div th:if="${durations.get(iter.index) !=null}" th:text="${durations.get(iter.index)}"></div>
                <div th:unless="${durations.get(iter.index) != null}">Deleted or not added yet</div>
            </td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/subjects/'} + ${subjects.get(iter.index).getId()}"
                   th:if="${subjects.get(iter.index) !=null}"
                   th:text="${subjectNames.get(iter.index)}">
                </a>
                <div th:unless="${subjectNames.get(iter.index) != null}">Deleted or not added yet</div>
            </td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/teachers/'} + ${teachers.get(iter.index).getId()}"
                   th:if="${teachers.get(iter.index) !=null}"
                   th:text="${teacherNames.get(iter.index)}">
                </a>
                <div th:unless="${teacherNames.get(iter.index) != null}">Deleted or not added yet</div>
            </td>
            <div th:insert="commons/trash-and-edit-buttons :: trash-and-edit-buttons(deletePath = '/lectures/delete/',
            id = ${lecture.id}, question = 'Are you sure you want to delete a lecture?')"></div>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${not #lists.isEmpty(students)}">
    <div class="text-center mt-2">Students</div>
    <table class="table table-bordered w-25 text-center mx-auto mt-2">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Middle name</th>
            <th scope="col">Course number</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student, iter: ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.middleName}"></td>
            <td th:text="${student.courseNumber}"></td>
            <div th:insert="commons/trash-and-edit-buttons :: trash-and-edit-buttons(deletePath = '/students/delete/',
            id = ${student.id}, question = 'Are you sure you want to delete a student?')"></div>
        </tr>
        </tbody>
    </table>
</div>
<div class="text-center" th:unless="${not #lists.isEmpty(lectures)}">0 lectures in this group</div>
<div class="text-center" th:unless="${not #lists.isEmpty(students)}">0 students in this group</div>
</body>
</html>
