<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" th:rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <meta charset="UTF-8">
    <title>FoxmindedUniversity</title>
</head>
<body>
<div th:replace="commons/navbar :: navbar"></div>
<div class="text-center mt-2">Group</div>
<div>
    <table class="table table-bordered w-25 text-center mx-auto mt-2">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Faculty</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${group.id}"></td>
            <td th:text="${group.name}"></td>
            <td th:text="${faculty.name}"></td>
            <td>
                <button class="btn btn-light" data-target="#editModal" data-toggle="modal"
                        th:attrappend="data-target=${group}"
                        type="button">
                    <i class="fas fa-edit"></i>
                </button>
            </td>
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="editModal" role="dialog"
                 tabindex="-1"
                 th:attrappend="id=${group}">
                <div class="modal-dialog" role="document">
                    <form method="post" th:action="@{/groups/update/{id}(id=${group.id})}"
                          th:object="${group}">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit group</h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <div class="form-row">
                                        <div class="col">
                                            <input class="form-control" placeholder="Name" th:value="${group.name}" id="editGroupName"
                                                   name="name" type="text" required>
                                        </div>
                                        <label class="mt-2 ml-4 mr-1">Select a Faculty:</label>
                                        <div class="col">
                                            <select class="form-control" th:field="*{facultyId}">
                                                <option th:each="faculty: ${faculties}" th:text="${faculty.name}"
                                                        th:value="${faculty.id}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                <button class="btn btn-light ml-1" type="submit">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div th:insert="commons/trash-button :: trash-button(deletePath = '/groups/delete/',
            id = ${group.id}, question = 'Are you sure you want to delete a group?')"></div>
            </div>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${not #lists.isEmpty(lectures)}">
    <div class="text-center mb-2">Lectures</div>
    <table class="table table-bordered w-25 text-center mx-auto mt-2">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Number</th>
            <th scope="col">Audience</th>
            <th scope="col">Date</th>
            <th scope="col">Start time</th>
            <th scope="col">Duration</th>
            <th scope="col">Subject</th>
            <th scope="col">Teacher</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lecture, iter: ${lectures}">
            <td th:text="${lecture.id}"></td>
            <td th:text="${lecture.number}"></td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/audiences/'} + ${audiences.get(iter.index).getId()}"
                   th:if="${audiences.get(iter.index) !=null}"
                   th:text="${audienceNumbers.get(iter.index)}">
                </a>
                <div th:unless="${audienceNumbers.get(iter.index) != null}">Deleted or not added yet</div>
            </td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:if="${lecturesDate.get(iter.index) !=null}"
                   th:text="${lecturesDate.get(iter.index)}">
                </a>
                <div th:unless="${lecturesDate.get(iter.index) != null}">Deleted or not added yet</div>
            </td>
            <td>
                <div th:if="${startTimes.get(iter.index) !=null}" th:text="${startTimes.get(iter.index)}"></div>
                <div th:unless="${startTimes.get(iter.index) != null}">Deleted or not added yet</div>
            </td>
            <td>
                <div th:if="${durations.get(iter.index) !=null}" th:text="${durations.get(iter.index)}"></div>
                <div th:unless="${durations.get(iter.index) != null}">Deleted or not added yet</div>
            </td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/subjects/'} + ${subjects.get(iter.index).getId()}"
                   th:if="${subjects.get(iter.index) !=null}"
                   th:text="${subjectNames.get(iter.index)}">
                </a>
                <div th:unless="${subjectNames.get(iter.index) != null}">Deleted or not added yet</div>
            </td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/teachers/'} + ${teachers.get(iter.index).getId()}"
                   th:if="${teachers.get(iter.index) !=null}"
                   th:text="${teacherNames.get(iter.index)}">
                </a>
                <div th:unless="${teacherNames.get(iter.index) != null}">Deleted or not added yet</div>
            </td>
            <td>
                <button class="btn btn-light" data-target="#editModal" data-toggle="modal"
                        th:attrappend="data-target=${lecture}"
                        type="button">
                    <i class="fas fa-edit"></i>
                </button>
            </td>
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="editModal" role="dialog"
                 tabindex="-1"
                 th:attrappend="id=${lecture}">
                <div class="modal-dialog" role="document">
                    <form method="post" th:action="@{/lectures/update/{id}(id=${lecture.id})}"
                          th:object="${lecture}">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit lecture</h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <div class="form-row">
                                        <div class="col">
                                            <input class="form-control" placeholder="Date" th:value="${lecture.date}"
                                                   id="editLectureDate" name="date" type="date" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="mt-3">add lesson: </label>
                                        <div class="col mt-2">
                                            <select class="form-control" th:field="*{lessonId}">
                                                <div th:each="lesson, iter: ${allLessons}">
                                                    <option th:text="'number: ' + ${lesson.number} +
                                                    ',   start time: '+ ${lesson.startTime} + ',   duration: '+ ${durationsForAllLessons.get(iter.index)} +
                                                    ',    subject: '+ ${subjectsForAllLessons.get(iter.index).getName()}"
                                                            th:value="${lesson.id}">
                                                    </option>
                                                </div>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="mt-3">add audience number: </label>
                                        <div class="col mt-2">
                                            <select class="form-control" th:field="*{audienceId}">
                                                <option th:each="audience: ${allAudiences}" th:text="${audience.number}"
                                                        th:value="${audience.id}"></option>
                                            </select>
                                        </div>
                                        <label class="mt-3 ml-2">add group: </label>
                                        <div class="col mt-2">
                                            <select class="form-control" th:field="*{groupId}">
                                                <option th:each="group: ${allGroups}" th:text="${group.name}"
                                                        th:value="${group.id}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="mt-3">add teacher: </label>
                                        <div class="col mt-2">
                                            <select class="form-control" th:field="*{teacherId}">
                                                <option th:each="teacher: ${allTeachers}"
                                                        th:text="${teacher.firstName} + ' ' + ${teacher.lastName} + ' ' + ${teacher.middleName}"
                                                        th:value="${teacher.id}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                <button class="btn btn-light ml-1" type="submit">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div th:insert="commons/trash-button :: trash-button(deletePath = '/lectures/delete/',
            id = ${lecture.id}, question = 'Are you sure you want to delete a lecture?')"></div>
            </div>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${not #lists.isEmpty(students)}">
    <div class="text-center mt-2">Students</div>
    <table class="table table-bordered w-25 text-center mx-auto mt-2">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Middle name</th>
            <th scope="col">Course number</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student, iter: ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.middleName}"></td>
            <td th:text="${student.courseNumber}"></td>
            <td>
                <button class="btn btn-light" data-target="#editModal" data-toggle="modal"
                        th:attrappend="data-target=${student}"
                        type="button">
                    <i class="fas fa-edit"></i>
                </button>
            </td>
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="editModal" role="dialog"
                 tabindex="-1"
                 th:attrappend="id=${student}">
                <div class="modal-dialog" role="document">
                    <form method="post" th:action="@{/students/update/{id}(id=${student.id})}"
                          th:object="${student}">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit student</h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <div class="form-row">
                                        <div class="col">
                                            <input class="form-control" placeholder="First name" th:value="${student.firstName}"
                                                   id="editStudentFirstName" name="firstName" type="text" required>
                                        </div>
                                        <div class="col">
                                            <input class="form-control" placeholder="Last name" th:value="${student.lastName}"
                                                   id="editStudentLastName" name="lastName" type="text" required>
                                        </div>
                                        <div class="col">
                                            <input class="form-control" placeholder="Middle name" id="editStudentMiddleName"
                                                   th:value="${student.middleName}" name="middleName" type="text" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col mt-1">
                                            <input class="form-control" placeholder="Course number"
                                                   th:value="${student.courseNumber}" id="editStudentCourseNumber" name="courseNumber"
                                                   type="text" required>
                                        </div>
                                        <label class="mt-2 ml-3 mr-1">add group: </label>
                                        <div class="col mt-1">
                                            <select class="form-control" th:field="*{groupId}">
                                                <option th:each="group: ${allGroups}" th:text="${group.name}"
                                                        th:value="${group.id}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                <button class="btn btn-light ml-1" type="submit">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div th:insert="commons/trash-button :: trash-button(deletePath = 'students/delete/',
            id = ${student.id}, question = 'Are you sure you want to delete a student?')"></div>
            </div>
        </tr>
        </tbody>
    </table>
</div>
<div class="text-center" th:unless="${not #lists.isEmpty(lectures)}">0 lectures in this group</div>
<div class="text-center" th:unless="${not #lists.isEmpty(students)}">0 students in this group</div>
</body>
</html>
