<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" th:rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" th:rel="stylesheet"/>

    <meta charset="UTF-8">
    <title>FoxmindedUniversity</title>
</head>
<body>
<div th:replace="commons/navbar :: navbar"></div>
<div>
    <form class="w-25 mx-auto mt-5" method="post" th:action="@{/lessons/add}" th:object="${lesson}">
        <div class="form-row">
            <div class="col">
                <input class="form-control" placeholder="Number" th:field="*{number}" type="text" required>
            </div>
            <div class="col">
                <input class="form-control" placeholder="Start time" th:field="*{startTime}" type="time" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col mt-1">
                <input class="form-control html-duration-picker" data-duration="01:30" data-hide-seconds
                       id="duration" th:field="*{duration}" required>
            </div>
            <div class="col mt-1">
                <select class="form-control" th:field="*{subjectId}">
                    <option th:each="subject: ${allSubjects}" th:text="${subject.name}"
                            th:value="${subject.id}"></option>
                </select>
            </div>
            <button class="btn btn-light ml-1 mt-1" type="submit">Add lesson</button>
        </div>
    </form>
</div>
<div>
    <table class="table table-bordered w-25 text-center mx-auto mt-5">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Number</th>
            <th scope="col">Start time</th>
            <th scope="col">Duration</th>
            <th scope="col">Subject</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lesson, iter: ${lessons}">
            <td th:text="${lesson.id}"></td>
            <td th:text="${lesson.number}"></td>
            <td th:text="${lesson.startTime}"></td>
            <td th:text="${durations.get(iter.index)}"></td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/subjects/'} + ${subjects.get(iter.index).getId()}"
                   th:if="${subjects.get(iter.index) !=null}"
                   th:text="${subjectNames.get(iter.index)}">
                </a>
                <div th:unless="${subjectNames.get(iter.index) != null}">Deleted or not added yet</div>
            </td>
            <td>
                <button class="btn btn-light" data-target="#editModal" data-toggle="modal"
                        th:attrappend="data-target=${lesson}"
                        type="button">
                    <i class="fas fa-edit"></i>
                </button>
            </td>
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="editModal" role="dialog"
                 tabindex="-1"
                 th:attrappend="id=${lesson}">
                <div class="modal-dialog">
                    <form method="post" th:action="@{/lessons/update/{id}(id=${lesson.id})}"
                          th:object="${lesson}">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit lesson</h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="col">
                                        <input class="form-control" placeholder="Number" th:value="${lesson.number}"
                                               id="editLessonNumber" name="number" type="text" required>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" placeholder="Start time" th:value="${lesson.startTime}"
                                               id="editLessonStartTime" name="startTime" type="time" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col mt-1">
                                        <input class="form-control" placeholder="Duration" th:value="${lesson.duration}"
                                        id="editLessonDuration" name="duration">
                                    </div>
                                    <div class="col mt-1">
                                        <select class="form-control" th:field="*{subjectId}">
                                            <option th:each="subject: ${allSubjects}" th:text="${subject.name}"
                                                    th:value="${subject.id}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                <button class="btn btn-light ml-1" type="submit">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div th:insert="commons/trash-button :: trash-button(deletePath = '/lessons/delete/',
            id = ${lesson.id}, question = 'Are you sure you want to delete a lesson?')"></div>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/html-duration-picker/dist/html-duration-picker.min.js"></script>
</body>
</html>
