<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" th:rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" th:rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>FoxmindedUniversity</title>
</head>
<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<body>
<div th:replace="commons/navbar :: navbar"></div>
<div>
    <form class="w-50 mx-auto mt-5" method="post" th:action="@{/students/add}" th:object="${student}">
        <div th:unless="${not #lists.isEmpty(fieldErrorsOnAdd)}">
            <div class="form-row">
                <div class="col">
                    <input class="form-control" placeholder="First name" required th:field="*{firstName}" type="text">
                </div>
                <div class="col">
                    <input class="form-control" placeholder="Last name" required th:field="*{lastName}" type="text">
                </div>
                <div class="col">
                    <input class="form-control" placeholder="Middle name" required th:field="*{middleName}" type="text">
                </div>
            </div>
            <div class="form-row">
                <div class="col mt-1">
                    <input class="form-control" placeholder="Course number" required th:field="*{courseNumber}"
                           type="number">
                </div>
                <label class="mt-2 ml-3 mr-1">add group: </label>
                <div class="col mt-1">
                    <select class="form-control" th:field="*{group}">
                        <option th:each="group: ${allGroups}" th:text="${group.name}"
                                th:value="${group.id}"></option>
                    </select>
                </div>
                <button class="btn btn-light ml-1 mt-1" type="submit">Add student</button>
            </div>
        </div>
        <div th:if="${fieldErrorsOnAdd != null}">
            <div class="form-row">
                <div class="col">
                    <input class="form-control" id="studentWithFirstNameError" name="firstName" placeholder="First name"
                           required th:value="${studentWithErrors.firstName}" type="text">
                    <div th:each="fieldError, iter: ${fieldErrorsOnAdd}">
                        <div class="alert alert-danger mt-2" style="color: red"
                             th:if="${fieldError.getField() == 'firstName'}"
                             th:text="${fieldError.getDefaultMessage()}"></div>
                    </div>
                </div>
                <div class="col">
                    <input class="form-control" id="studentWithLastNameError" name="lastName" placeholder="Last name"
                           required th:value="${studentWithErrors.lastName}" type="text">
                    <div th:each="fieldError, iter: ${fieldErrorsOnAdd}">
                        <div class="alert alert-danger mt-2" style="color: red"
                             th:if="${fieldError.getField() == 'lastName'}"
                             th:text="${fieldError.getDefaultMessage()}"></div>
                    </div>
                </div>
                <div class="col">
                    <input class="form-control" id="studentWithMiddleNameError" name="middleName"
                           placeholder="Middle name"
                           required th:value="${studentWithErrors.middleName}" type="text">
                    <div th:each="fieldError, iter: ${fieldErrorsOnAdd}">
                        <div class="alert alert-danger mt-2" style="color: red"
                             th:if="${fieldError.getField() == 'middleName'}"
                             th:text="${fieldError.getDefaultMessage()}"></div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col mt-1">
                    <input class="form-control" id="studentWithCourseNumberError" name="courseNumber"
                           placeholder="Course number"
                           required th:value="${studentWithErrors.courseNumber}" type="number">
                    <div th:each="fieldError, iter: ${fieldErrorsOnAdd}">
                        <div class="alert alert-danger mt-2"
                             style="color: red"
                             th:if="${fieldError.getField() == 'courseNumber'}"
                             th:text="${fieldError.getDefaultMessage()}"></div>
                    </div>
                </div>
                <label class="mt-2 ml-3 mr-1">add group: </label>
                <div class="col mt-1">
                    <select class="form-control" th:field="*{group}">
                        <option th:text="${studentWithErrors.group.name}"
                                th:value="${studentWithErrors.group.id}"></option>
                        <div th:each="group: ${allGroups}">
                            <option th:if="${studentWithErrors.group.name != group.name}"
                                    th:text="${group.name}"
                                    th:value="${group.id}"></option>
                        </div>
                    </select>
                </div>
                <div>
                    <button class="btn btn-light ml-1 mt-1" type="submit">Add student</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <table class="table table-bordered w-50 text-center mx-auto mt-5">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Middle name</th>
            <th scope="col">Course number</th>
            <th scope="col">Group</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student, iter: ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.middleName}"></td>
            <td th:text="${student.courseNumber}"></td>
            <td>
                <a style="text-decoration: none; color: black" th:href="@{'/groups/'} + ${groups.get(iter.index).id}"
                   th:if="${groups.get(iter.index) != null}"
                   th:text="${groupNames.get(iter.index)}">
                </a>
                <div th:unless="${groups.get(iter.index) != null}">Deleted or not added yet</div>
            </td>
            <td>
                <button class="btn btn-light" data-target="#editModal" data-toggle="modal"
                        th:attrappend="data-target=${student}"
                        type="button">
                    <i class="fas fa-edit"></i>
                </button>
            </td>
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="editModal" role="dialog"
                 tabindex="-1"
                 th:attrappend="id=${student}">
                <div class="modal-dialog" role="document">
                    <form method="post" th:action="@{/students/update/{id}(id=${student.id})}"
                          th:object="${student}">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit student</h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="col">
                                        <input class="form-control" id="editStudentFirstName"
                                               name="firstName"
                                               placeholder="First name" required th:value="${student.firstName}"
                                               type="text">
                                    </div>
                                    <div class="col">
                                        <input class="form-control" id="editStudentLastName"
                                               name="lastName"
                                               placeholder="Last name" required th:value="${student.lastName}"
                                               type="text">
                                    </div>
                                    <div class="col">
                                        <input class="form-control" id="editStudentMiddleName"
                                               name="middleName" placeholder="Middle name"
                                               required
                                               th:value="${student.middleName}" type="text">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col mt-1">
                                        <input class="form-control" id="editStudentCourseNumber"
                                               name="courseNumber" placeholder="Course number"
                                               required
                                               th:value="${student.courseNumber}" type="text">
                                    </div>
                                    <label class="mt-2 ml-3 mr-1">add group: </label>
                                    <div class="col mt-1">
                                        <select class="form-control" th:field="*{group}">
                                            <div th:each="group: ${allGroups}">
                                                <div th:if="${student.group != null}">
                                                    <option th:if="${student.group.name == group.name}"
                                                            th:text="${group.name}"
                                                            th:value="${group.id}"></option>
                                                </div>
                                            </div>
                                            <div th:each="group: ${allGroups}">
                                                <div th:if="${student.group != null}">
                                                    <option th:if="${student.group.name != group.name}"
                                                            th:text="${group.name}"
                                                            th:value="${group.id}"></option>
                                                </div>
                                            </div>
                                            <div th:if="${student.group == null}">
                                                <div th:each="group: ${allGroups}">
                                                    <option th:text="${group.name}"
                                                            th:value="${group.id}"></option>
                                                </div>
                                            </div>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                <button class="btn btn-light ml-1" type="submit">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div th:insert="commons/trash-button :: trash-button(deletePath = 'students/delete/',
            id = ${student.id}, question = 'Are you sure you want to delete a student?')"></div>
            </div>
        </tr>
        </tbody>
    </table>
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
         id="editModalForErrorOnUpdateOnValidate" role="dialog" tabindex="-1"
         th:if="${fieldErrorsOnUpdate !=null}">
        <div class="modal-dialog" role="document">
            <form method="post" th:action="@{/students/update/{id}(id=${studentWithErrors.id})}"
                  th:object="${student}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel3">Edit student</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div th:if="${fieldErrorsOnUpdate != null}">
                            <div class="form-row">
                                <div class="form-row">
                                    <div class="col">
                                        <input class="form-control" id="editStudentFirstNameOnErrorOnValidate"
                                               name="firstName"
                                               placeholder="First name" required
                                               th:value="${studentWithErrors.firstName}"
                                               type="text">
                                        <div th:each="fieldError, iter: ${fieldErrorsOnUpdate}">
                                            <div class="alert alert-danger mt-2"
                                                 style="color: red"
                                                 th:if="${fieldError.getField() == 'firstName'}"
                                                 th:text="${fieldError.getDefaultMessage()}"></div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" id="editStudentLastNameOnErrorOnValidate"
                                               name="lastName"
                                               placeholder="Last name" required th:value="${studentWithErrors.lastName}"
                                               type="text">
                                        <div th:each="fieldError, iter: ${fieldErrorsOnUpdate}">
                                            <div class="alert alert-danger mt-2"
                                                 style="color: red"
                                                 th:if="${fieldError.getField() == 'lastName'}"
                                                 th:text="${fieldError.getDefaultMessage()}"></div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" id="editStudentMiddleNameOnErrorOnValidate"
                                               name="middleName" placeholder="Middle name"
                                               required
                                               th:value="${studentWithErrors.middleName}" type="text">
                                        <div th:each="fieldError, iter: ${fieldErrorsOnUpdate}">
                                            <div class="alert alert-danger mt-2"
                                                 style="color: red"
                                                 th:if="${fieldError.getField() == 'middleName'}"
                                                 th:text="${fieldError.getDefaultMessage()}"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col mt-1">
                                        <input class="form-control" id="editStudentCourseNumberOnErrorOnValidate"
                                               name="courseNumber" placeholder="Course number"
                                               required
                                               th:value="${studentWithErrors.courseNumber}" type="text">
                                        <div th:each="fieldError, iter: ${fieldErrorsOnUpdate}">
                                            <div class="alert alert-danger mt-2"
                                                 style="color: red"
                                                 th:if="${fieldError.getField() == 'courseNumber'}"
                                                 th:text="${fieldError.getDefaultMessage()}"></div>
                                        </div>
                                    </div>
                                    <label class="mt-2 ml-3 mr-1">Edit group: </label>
                                    <div class="col mt-1">
                                        <select class="form-control" th:field="*{group}">
                                            <option th:text="${studentWithErrors.group.name}"
                                                    th:value="${studentWithErrors.group.id}"></option>
                                            <div th:each="group: ${allGroups}">
                                                <option th:if="${studentWithErrors.group.name != group.name}"
                                                        th:text="${group.name}"
                                                        th:value="${group.id}"></option>
                                            </div>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-2" style="color: red" th:if="${serviceExceptionOnUpdate !=null}"
                            th:text="${serviceExceptionOnUpdate.getMessage()}"></h5>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-light ml-1" id="saveForErrorOnValidate" type="submit">
                            Save changes
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:if="${fieldErrorsOnUpdate != null}">
    $(document).ready(function () {
        debugger
        $('#editModalForErrorOnUpdateOnValidate').modal('show');
    });

    $('#editModalForErrorOnUpdateOnValidate').on('hidden.bs.modal', function () {
        window.location.replace('/students');
    })
</script>
</body>
</html>
