<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" th:rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" th:rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>FoxmindedUniversity</title>
</head>
<body>
<div th:replace="commons/navbar :: navbar"></div>
<div>
    <form class="w-50 mx-auto mt-5">
        <div class="form-row">
            <div class="col">
                <input class="form-control" placeholder="First name" type="text">
            </div>
            <div class="col">
                <input class="form-control" placeholder="Last name" type="text">
            </div>
            <div class="col">
                <input class="form-control" placeholder="Middle name" type="text">
            </div>
        </div>
        <div class="form-row">
            <div class="col mt-1">
                <input class="form-control" placeholder="Course number" type="text">
            </div>
            <div class="col mt-1">
                <input class="form-control" placeholder="Group" type="text">
            </div>
            <button class="btn btn-light ml-1 mt-1" type="submit">Add student</button>
        </div>
    </form>
</div>
<div>
    <table class="table table-bordered w-50 text-center mx-auto mt-5">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Middle name</th>
            <th scope="col">Course number</th>
            <th scope="col">Group</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student, iter: ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.middleName}"></td>
            <td th:text="${student.courseNumber}"></td>
            <td>
                <a style="text-decoration: none; color: black" th:href="@{'/groups/'} + ${groups.get(iter.index).id}"
                   th:if="${groups.get(iter.index) != null}"
                   th:text="${groupNames.get(iter.index)}">
                </a>
                <div th:unless="${groups.get(iter.index) != null}">Deleted or not added yet</div>
            </td>
            <div th:insert="commons/trash-and-edit-buttons :: trash-and-edit-buttons(deletePath = 'students/delete/',
            id = ${student.id}, question = 'Are you sure you want to delete a student?')"></div>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
