<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" th:rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <meta charset="UTF-8">
    <title>FoxmindedUniversity</title>
</head>
<body>
<div th:replace="commons/navbar :: navbar"></div>
<div class="text-center mb-2">Teacher</div>
<div>
    <table class="table table-bordered w-25 text-center mx-auto mt-2">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Middle name</th>
            <th scope="col">Faculty</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${teacher.id}"></td>
            <td th:text="${teacher.firstName}"></td>
            <td th:text="${teacher.lastName}"></td>
            <td th:text="${teacher.middleName}"></td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/faculties/'} + ${faculty.getId()}"
                   th:text="${faculty.name}">
                </a>
            </td>
            <td>
                <button class="btn btn-light" data-target="#editModal" data-toggle="modal" th:attrappend="data-target=${teacher}"
                        type="button">
                    <i class="fas fa-edit"></i>
                </button>
            </td>
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="editModal" role="dialog"
                 tabindex="-1"
                 th:attrappend="id=${teacher}">
                <div class="modal-dialog" role="document">
                    <form method="post" th:action="@{/teachers/update/{id}(id=${teacher.id})}"
                          th:object="${teacher}">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit teacher</h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <div class="form-row">
                                        <div class="col">
                                            <input class="form-control" placeholder="First name" th:field="*{firstName}"
                                                   type="text">
                                        </div>
                                        <div class="col">
                                            <input class="form-control" placeholder="Last name" th:field="*{lastName}"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col mt-1">
                                            <input class="form-control" placeholder="Middle name" th:field="*{middleName}"
                                                   type="text">
                                        </div>
                                        <div class="col mt-1">
                                            <select class="form-control" th:field="*{facultyId}">
                                                <div th:each="faculty: ${allFaculties}">
                                                    <option th:text="${faculty.name}" th:value="${faculty.id}">
                                                    </option>
                                                </div>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                <button class="btn btn-light ml-1" type="submit">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div th:insert="commons/trash-button :: trash-button(deletePath = '/teachers/delete/',
            id = ${teacher.id}, question = 'Are you sure you want to delete a teacher?')"></div>
            </div>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${not #lists.isEmpty(lectures)}">
    <div class="text-center mb-2">Lectures</div>
    <table class="table table-bordered w-25 text-center mx-auto mt-2">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Number</th>
            <th scope="col">Group</th>
            <th scope="col">Audience</th>
            <th scope="col">Date</th>
            <th scope="col">Start time</th>
            <th scope="col">Duration</th>
            <th scope="col">Subject</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lecture, iter: ${lectures}">
            <td th:text="${lecture.id}"></td>
            <td th:text="${lecture.number}"></td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/groups/'} + ${groups.get(iter.index).getId()}"
                   th:text="${groupNames.get(iter.index)}">
                </a>
            </td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/audiences/'} + ${audiences.get(iter.index).getId()}"
                   th:text="${audienceNumbers.get(iter.index)}">
                </a>
            </td>
            <td th:text="${lecture.date}"></td>
            <td th:text="${startTimes.get(iter.index)}"></td>
            <td th:text="${durations.get(iter.index)}"></td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/subjects/'} + ${subjects.get(iter.index).getId()}"
                   th:if="${subjects.get(iter.index) !=null}"
                   th:text="${subjectNames.get(iter.index)}">
                </a>
                <div th:unless="${subjectNames.get(iter.index) != null}">Deleted or not added yet</div>
            </td>
            <td>
                <button class="btn btn-light" data-target="#editModal" data-toggle="modal"
                        th:attrappend="data-target=${lecture}"
                        type="button">
                    <i class="fas fa-edit"></i>
                </button>
            </td>
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="editModal" role="dialog"
                 tabindex="-1"
                 th:attrappend="id=${lecture}">
                <div class="modal-dialog" role="document">
                    <form method="post" th:action="@{/lectures/update/{id}(id=${lecture.id})}"
                          th:object="${lecture}">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit lecture</h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <div class="form-row">
                                        <div class="col">
                                            <input class="form-control" placeholder="Date" th:field="*{date}"
                                                   type="date">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="mt-3">add lesson: </label>
                                        <div class="col mt-2">
                                            <select class="form-control" th:field="*{lessonId}">
                                                <div th:each="lesson, iter: ${allLessons}">
                                                    <option th:text="'number: ' + ${lesson.number} +
                                                    ',   start time: '+ ${lesson.startTime} + ',   duration: '+ ${durationsForAllLessons.get(iter.index)} +
                                                    ',    subject: '+ ${subjectsForAllLessons.get(iter.index).getName()}"
                                                            th:value="${lesson.id}">
                                                    </option>
                                                </div>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="mt-3">add audience number: </label>
                                        <div class="col mt-2">
                                            <select class="form-control" th:field="*{audienceId}">
                                                <option th:each="audience: ${allAudiences}" th:text="${audience.number}"
                                                        th:value="${audience.id}"></option>
                                            </select>
                                        </div>
                                        <label class="mt-3 ml-2">add group: </label>
                                        <div class="col mt-2">
                                            <select class="form-control" th:field="*{groupId}">
                                                <option th:each="group: ${allGroups}" th:text="${group.name}"
                                                        th:value="${group.id}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="mt-3">add teacher: </label>
                                        <div class="col mt-2">
                                            <select class="form-control" th:field="*{teacherId}">
                                                <option th:each="teacher: ${allTeachers}"
                                                        th:text="${teacher.firstName} + ' ' + ${teacher.lastName} + ' ' + ${teacher.middleName}"
                                                        th:value="${teacher.id}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                <button class="btn btn-light ml-1" type="submit">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div th:insert="commons/trash-button :: trash-button(deletePath = '/lectures/delete/',
            id = ${lecture.id}, question = 'Are you sure you want to delete a lecture?')"></div>
            </div>
        </tr>
        </tbody>
    </table>
</div>
<div class="text-center" th:unless="${not #lists.isEmpty(lectures)}">This teacher have 0 lectures</div>
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
