<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" th:rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" th:rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>FoxmindedUniversity</title>
</head>
<body>
<div th:replace="commons/navbar :: navbar"></div>
<div>
    <form class="w-25 mx-auto mt-5" method="post" th:action="@{/teachers/add}" th:object="${teacher}">
        <div th:unless="${not #lists.isEmpty(fieldErrorsOnAdd)}">
            <div class="form-row">
                <div class="col">
                    <input class="form-control" placeholder="First name" required th:field="*{firstName}" type="text">
                </div>
                <div class="col">
                    <input class="form-control" placeholder="Last name" required th:field="*{lastName}" type="text">
                </div>
            </div>
            <div class="form-row">
                <div class="col mt-1">
                    <input class="form-control" placeholder="Middle name" required th:field="*{middleName}" type="text">
                </div>
                <div class="col mt-1">
                    <select class="form-control" th:field="*{faculty}">
                        <div th:each="faculty: ${allFaculties}">
                            <option th:text="${faculty.name}" th:value="${faculty.id}">
                            </option>
                        </div>
                    </select>
                </div>
                <button class="btn btn-light ml-1 mt-1" type="submit">Add teacher</button>
            </div>
        </div>
        <div th:if="${fieldErrorsOnAdd != null}">
            <div class="form-row">
                <div class="col">
                    <input class="form-control" placeholder="First name" required id="teacherWithFirstNameError"
                           name="firstName" th:value="${teacherWithErrors.firstName}" type="text">
                    <div th:each="fieldError, iter: ${fieldErrorsOnAdd}">
                        <div class="alert alert-danger mt-2" th:if="${fieldError.getField() == 'firstName'}"
                             th:text="${fieldError.getDefaultMessage()}"
                             style="color: red"></div>
                    </div>
                </div>
                <div class="col">
                    <input class="form-control" placeholder="Last name" required id="teacherWithLastNameError"
                           name="lastName" th:value="${teacherWithErrors.lastName}" type="text">
                    <div th:each="fieldError, iter: ${fieldErrorsOnAdd}">
                        <div class="alert alert-danger mt-2" th:if="${fieldError.getField() == 'lastName'}"
                             th:text="${fieldError.getDefaultMessage()}"
                             style="color: red"></div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col mt-1">
                    <input class="form-control" placeholder="Middle name" required id="teacherWithMiddleNameError"
                           name="middleName" th:value="${teacherWithErrors.middleName}" type="text">
                    <div th:each="fieldError, iter: ${fieldErrorsOnAdd}">
                        <div class="alert alert-danger mt-2" th:if="${fieldError.getField() == 'middleName'}"
                             th:text="${fieldError.getDefaultMessage()}"
                             style="color: red"></div>
                    </div>
                </div>
                <div class="col mt-1">
                    <select class="form-control" th:field="*{faculty}">
                        <option th:text="${teacherWithErrors.faculty.name}"
                                th:value="${teacherWithErrors.faculty.id}"></option>
                        <div th:each="faculty: ${allFaculties}">
                            <option th:if="${teacherWithErrors.faculty.name != faculty.name}"
                                    th:value="${faculty.id}"></option>
                        </div>
                    </select>
                </div>
                <div>
                    <button class="btn btn-light ml-1 mt-1" type="submit">Add teacher</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <table class="table table-bordered w-25 text-center mx-auto mt-5">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Middle name</th>
            <th scope="col">Faculty</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher, iter: ${teachers}">
            <td th:text="${teacher.id}"></td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/teachers/'} + ${teacher.id}"
                   th:text="${teacher.firstName}">
                </a>
            </td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/teachers/'} + ${teacher.id}"
                   th:text="${teacher.lastName}">
                </a>
            </td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/teachers/'} + ${teacher.id}"
                   th:text="${teacher.middleName}">
                </a>
            </td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/faculties/'} + ${faculties.get(iter.index).getId()}"
                   th:text="${facultyNames.get(iter.index)}">
                </a>
            </td>
            <td>
                <button class="btn btn-light" data-target="#editModal" data-toggle="modal"
                        th:attrappend="data-target=${teacher}"
                        type="button">
                    <i class="fas fa-edit"></i>
                </button>
            </td>
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="editModal" role="dialog"
                 tabindex="-1"
                 th:attrappend="id=${teacher}">
                <div class="modal-dialog" role="document">
                    <form method="post" th:action="@{/teachers/update/{id}(id=${teacher.id})}"
                          th:object="${teacher}">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit teacher</h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <div class="form-row">
                                        <div class="col">
                                            <input class="form-control" id="editTeacherFirstName"
                                                   name="firstName"
                                                   placeholder="First name" required th:value="${teacher.firstName}"
                                                   type="text">
                                        </div>
                                        <div class="col">
                                            <input class="form-control" id="editTeacherLastName"
                                                   name="lastName" placeholder="Last name"
                                                   required
                                                   th:value="${teacher.lastName}" type="text">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col mt-1">
                                            <input class="form-control" id="editTeacherMiddleName"
                                                   name="middleName" placeholder="Middle name"
                                                   required
                                                   th:value="${teacher.middleName}" type="text">
                                        </div>
                                        <div class="col mt-1">
                                            <select class="form-control" th:field="*{faculty}">
                                                <div th:each="faculty: ${allFaculties}">
                                                    <div th:if="${teacher.faculty != null}">
                                                        <div th:if="${teacher.faculty.id == faculty.id}">
                                                            <option th:text="${faculty.name}"
                                                                    th:value="${faculty.id}"></option>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div th:each="faculty: ${allFaculties}">
                                                    <div th:if="${teacher.faculty != null}">
                                                        <div th:if="${teacher.faculty.id != faculty.id}">
                                                            <option th:text="${faculty.name}"
                                                                    th:value="${faculty.id}"></option>
                                                        </div>
                                                    </div>
                                                </div>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                <button class="btn btn-light ml-1" type="submit">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div th:insert="commons/trash-button :: trash-button(deletePath = '/teachers/delete/',
            id = ${teacher.id}, question = 'Are you sure you want to delete a teacher?')"></div>
            </div>
        </tr>
        </tbody>
    </table>
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
         id="editModalForErrorOnUpdateOnValidate" role="dialog" tabindex="-1"
         th:if="${fieldErrorsOnUpdate !=null}">
        <div class="modal-dialog" role="document">
            <form method="post" th:action="@{/teachers/update/{id}(id=${teacherWithErrors.id})}"
                  th:object="${teacher}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel3">Edit student</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div th:if="${fieldErrorsOnUpdate != null}">
                            <div class="form-row">
                                <div class="form-row">
                                    <div class="col">
                                        <input class="form-control" id="editTeacherFirstNameOnErrorOnValidate"
                                               name="firstName"
                                               placeholder="First name" required th:value="${teacherWithErrors.firstName}"
                                               type="text">
                                        <div th:each="fieldError, iter: ${fieldErrorsOnUpdate}">
                                            <div class="alert alert-danger mt-2"
                                                 th:if="${fieldError.getField() == 'firstName'}"
                                                 th:text="${fieldError.getDefaultMessage()}"
                                                 style="color: red"></div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" id="editTeacherLastNameOnErrorOnValidate"
                                               name="lastName"
                                               placeholder="Last name" required th:value="${teacherWithErrors.lastName}"
                                               type="text">
                                        <div th:each="fieldError, iter: ${fieldErrorsOnUpdate}">
                                            <div class="alert alert-danger mt-2"
                                                 th:if="${fieldError.getField() == 'lastName'}"
                                                 th:text="${fieldError.getDefaultMessage()}"
                                                 style="color: red"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <input class="form-control" id="editTeacherMiddleNameOnErrorOnValidate"
                                               name="middleName" placeholder="Middle name"
                                               required
                                               th:value="${teacherWithErrors.middleName}" type="text">
                                        <div th:each="fieldError, iter: ${fieldErrorsOnUpdate}">
                                            <div class="alert alert-danger mt-2" th:if="${fieldError.getField() == 'middleName'}"
                                                 th:text="${fieldError.getDefaultMessage()}"
                                                 style="color: red"></div>
                                        </div>
                                    </div>
                                    <label class="mt-2 ml-3 mr-1">Edit faculty: </label>
                                    <div class="col mt-1">
                                        <select class="form-control" th:field="*{faculty}">
                                            <option th:text="${teacherWithErrors.faculty.name}"
                                                    th:value="${teacherWithErrors.faculty.id}"></option>
                                            <div th:each="faculty: ${allFaculties}">
                                                <option th:if="${teacherWithErrors.faculty.name != faculty.name}"
                                                        th:text="${faculty.name}"
                                                        th:value="${faculty.id}"></option>
                                            </div>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-2" style="color: red" th:if="${serviceExceptionOnUpdate !=null}"
                            th:text="${serviceExceptionOnUpdate.getMessage()}"></h5>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-light ml-1" id="saveForErrorOnValidate" type="submit">
                            Save changes
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:if="${fieldErrorsOnUpdate != null}">
    $(document).ready(function () {
        debugger
        $('#editModalForErrorOnUpdateOnValidate').modal('show');
    });

    $('#editModalForErrorOnUpdateOnValidate').on('hidden.bs.modal', function () {
        window.location.replace('/teachers');
    })
</script>
</body>
</html>
