<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" th:rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <meta charset="UTF-8">
    <title>FoxmindedUniversity</title>
</head>
<body>
<div th:replace="commons/navbar :: navbar"></div>
<div class="text-center mb-2">Teacher</div>
<div>
    <table class="table table-bordered w-25 text-center mx-auto mt-2">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Middle name</th>
            <th scope="col">Faculty</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${teacher.id}"></td>
            <td th:text="${teacher.firstName}"></td>
            <td th:text="${teacher.lastName}"></td>
            <td th:text="${teacher.middleName}"></td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/faculties/'} + ${faculty.getId()}"
                   th:text="${faculty.name}">
                </a>
            </td>
            <div th:insert="commons/trash-and-edit-buttons :: trash-and-edit-buttons(deletePath = '/teachers/delete/',
            id = ${teacher.id}, question = 'Are you sure you want to delete a teacher?')"></div>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${not #lists.isEmpty(lectures)}">
    <div class="text-center mb-2">Lectures</div>
    <table class="table table-bordered w-25 text-center mx-auto mt-2">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Number</th>
            <th scope="col">Group</th>
            <th scope="col">Audience</th>
            <th scope="col">Date</th>
            <th scope="col">Start time</th>
            <th scope="col">Duration</th>
            <th scope="col">Subject</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lecture, iter: ${lectures}">
            <td th:text="${lecture.id}"></td>
            <td th:text="${lecture.number}"></td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/groups/'} + ${groups.get(iter.index).getId()}"
                   th:text="${groupNames.get(iter.index)}">
                </a>
            </td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/audiences/'} + ${audiences.get(iter.index).getId()}"
                   th:text="${audienceNumbers.get(iter.index)}">
                </a>
            </td>
            <td th:text="${lecture.date}"></td>
            <td th:text="${startTimes.get(iter.index)}"></td>
            <td th:text="${durations.get(iter.index)}"></td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/subjects/'} + ${subjects.get(iter.index).getId()}"
                   th:if="${subjects.get(iter.index) !=null}"
                   th:text="${subjectNames.get(iter.index)}">
                </a>
                <div th:unless="${subjectNames.get(iter.index) != null}">Deleted or not added yet</div>
            </td>
            <div th:insert="commons/trash-and-edit-buttons :: trash-and-edit-buttons(deletePath = '/lectures/delete/',
            id = ${lecture.id}, question = 'Are you sure you want to delete a lecture?')"></div>
        </tr>
        </tbody>
    </table>
</div>
<div class="text-center" th:unless="${not #lists.isEmpty(lectures)}">This teacher have 0 lectures</div>
</body>
</html>
